/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #logo {
    img {
      width: 25%;
    }
  }

  .banner {
    .title-banner {
      width: 62%;
      margin: 0 auto;

      span {
        font-size: 31px;

      }
    }

    .text-banner {
      margin-bottom: 40px;
      margin-top: -20px;
    }
  }

  #about {
    .img-about {
      img {
        width: 100%;
      }

      .content-about {
        padding: 2em;
      }
    }


  }

  #specifications {
    img {
      width: 100%
    }
  }

  #masternode {

    ul {
      li {
        list-style-type: none;
        text-align: center;

        img {
          width: 20%;
        }

        span {
          font-size: 10px;
        }
      }
    }
  }
  #wallet {
    img {
      display: none;
    }

    .list-button {
      position: unset;
    }
  }
  #exchange {
    display: none;
  }

  #roadmap {
    .img-roadmap {
      width: 100%;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
