$primaryFont: 'Fira Code', monospace;
$primaryColor: #19161f;
$primaryFontSize: 14px;
$primaryTitle: 17px;
$shooting-time: 4000ms;

body {
  color: white;
}

h4 {
  color: #65cbef;
}

.title {
  text-align: center;
  padding: 20px;

  span {
    font-size: 25px;
    color: white;
    font-weight: bold;
  }
}


.banner {
  background-color: $primaryColor;
  color: #fff;
  padding: 100px 25px;
  font-family: Montserrat, sans-serif;

  .outline {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 1px dashed #326983;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    animation: turning_cw 5s infinite;
  }

  .centerline {
    width: 330px;
    height: 330px;
    border-radius: 50%;
    border: 1px dashed #326983;
    display: inline-flex;
    justify-content: center;
    align-items: center
  }

  .middleline {
    width: 310px;
    height: 310px;
    border-radius: 50%;
    border: 1px dashed #326983;
    display: inline-flex;
    justify-content: center;
    align-items: center
  }

  .lastline {
    width: 290px;
    height: 290px;
    border-radius: 50%;
    border: 1px dashed #326983;
    display: inline-flex;
    justify-content: center;
    align-items: center
  }

  .title-banner {
    width: 62%;
    margin: 0 auto;

    span {
      font-size: 50px;
      font-weight: bold;
      color: white;
      font-family: $primaryFont;

    }
  }

  .button-banner {
    margin-top: 10px;

    button {
      border-radius: 100rem;
      padding: 1rem;
      font-family: $primaryFont;
      font-size: 1rem;
      padding: 1.5rem 6rem;
      color: black;
      box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
      border: solid 2px transparent;
      background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
      background-origin: border-box;
      background-clip: content-box, border-box;
      box-shadow: 2px 1000px 1px #fff inset;
    }

    button:hover {
      box-shadow: none;
      color: white;
    }
  }

  .label-button {
    span {
      font-family: $primaryFont;
      letter-spacing: 1.5px;
      font-size: 12px;
    }
  }
}

.container-div {
  padding-left: 30px;
  padding-right: 30px;

}

.navbar {
  margin-bottom: 0;
  background-color: $primaryColor;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 1px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
  height: 76px;
}

.navbar li a, .navbar .navbar-brand {
  color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #3acfd5 !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}

#about {
  background-color: $primaryColor;

  .title {
    text-align: center;
    padding: 20px;

    span {
      font-size: 25px;
      color: white;
      font-weight: bold;
    }
  }

  .img-about {
    position: relative;
    text-align: left;

    .content-about {
      position: absolute;
      top: 56%;
      width: 48%;
      left: 28%;
    }
  }
}

#services {
  background-color: $primaryColor;
  position: relative;

  .item-service {
    color: white;

    img {
      width: 35%;
    }

    span {
      font-size: 12px;
      line-height: 1 !important;
    }

  }
}

#exchange {
  background-color: $primaryColor;
}

#wallet {
  background-image: url("././././images/wallet.png");

  button {
    border-radius: 100rem;
    padding: 1rem;
    font-family: $primaryFont;
    font-size: $primaryFontSize;
    padding: 1.5rem 6rem;
    color: black;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 2px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #fff inset;
    width: 40%;
  }

  button:hover {
    box-shadow: none;
    color: white;
  }
}

#roadmap {
  .list-item {
    text-align: center;

    img {
      margin-top: -20px;
    }

    ul {
      padding-right: 40px !important;

      li {
        list-style-type: none;
      }
    }
  }
}

#masternode {
  button {
    border-radius: 100rem;
    padding: 1rem;
    font-family: $primaryFont;
    font-size: $primaryFontSize;
    padding: 1.5rem 6rem;
    color: black;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 2px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #fff inset;
    width: 100%;
  }

  button:hover {
    box-shadow: none;
    color: white;
  }

  ul {
    li {
      list-style-type: none;
      text-align: center;

      img {
        width: 80%;
      }
    }
  }
}

footer {
  background-color: $primaryColor;

  #footer {
    text-align: left;

    .footer-title {
      text-align: center;

      h4 {
        color: #65cbef;
      }
    }

    .footer-link {
      ul {
        li {
          list-style-type: none;
        }
      }
    }

    @keyframes particleAnimation {
      from {
        left: -100px;
      }
      to {
        left: calc(100% + 10px);
      }
    }

    .p {
      position: fixed;
      left: 0px;
      top: 50px;
      width: 1px;
      height: 1px;
      background-color: white;
      position: fixed;
      animation-name: particleAnimation;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }

    .p::before {
      position: absolute;
      display: block;
      content: "";
      width: 100px;
      right: 1px;
      top: 0px;
      height: 1px;
      background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.4) 100%);
    }

    .p-1 {
      animation-duration: 10s;
    }

    .p-2 {
      animation-duration: 5s;
      top: 60%;
    }

    .p-3 {
      animation-duration: 20s;
      top: 90%;
    }
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .btn-lg {
    width: 100%;
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 480px) {
  .logo {
    font-size: 150px;
  }
}


//animate start

.night {
  position: relative;
  width: 100%;
  height: 100%;
  transform: rotateZ(45deg);
  // animation: sky 200000ms linear infinite;
}

.shooting_star {
  position: absolute;
  left: 50%;
  top: 50%;
  // width: 100px;
  height: 2px;
  background: linear-gradient(-45deg, rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px rgba(105, 155, 255, 1));
  animation: tail $shooting-time ease-in-out infinite,
  shooting $shooting-time ease-in-out infinite;

  &::before {
    content: '';
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    // width: 30px;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    animation: shining $shooting-time ease-in-out infinite;
  }

  &::after {
    @extend .shooting_star, ::before;
    transform: translateX(50%) rotateZ(-45deg);
  }

  @for $i from 1 through 20 {
    &:nth-child(#{$i}) {
      $delay: random(9999) + 0ms;
      top: calc(50% - #{random(400) - 200px});
      left: calc(50% - #{random(300) + 0px});
      animation-delay: $delay;
      // opacity: random(50) / 100 + 0.5;

      &::before,
      &::after {
        animation-delay: $delay;
      }
    }
  }
}

@keyframes tail {
  0% {
    width: 0;
  }

  30% {
    width: 100px;
  }

  100% {
    width: 0;
  }
}

@keyframes shining {
  0% {
    width: 0;
  }

  50% {
    width: 30px;
  }

  100% {
    width: 0;
  }
}

@keyframes shooting {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(300px);
  }
}

@keyframes sky {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(45 + 360deg);
  }
}

@-webkit-keyframes turning_cw {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}